<form [formGroup]="retencionfrom" (ngSubmit)="guardarestado()">
  <!--INICIO SESSION BOTONES-->
  <div class="row barra-accion">
    <div class=" col-md-12">
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnnuevo" mat-button (click)="limpiabotones(2);habilitarfrom(2);"><mat-icon class="orange600">search</mat-icon>Nuevo</button>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnmodificar" (click)="habilitarfrom(3);limpiabotones(2);" mat-button><mat-icon class="azul600 ">edit</mat-icon>Modificar</button>
      <button type="submit" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" mat-button><mat-icon class="gren600 ">save</mat-icon>Guardar</button>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="deleteretencion()" mat-button><mat-icon class="red600 ">close</mat-icon>Eliminar</button>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="limpiabotones(1);limpiarestado();habilitarfrom(1);"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
      <mat-divider class="material-devider">|</mat-divider>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
      <mat-divider class="material-devider">|</mat-divider>
      <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Mantenimiento de Retencion Fuente&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
    </div>
  </div>
  <!--FIN SESSION BOTONES-->
  <div class="custom-panel">
      <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
              <div class="form-group ">
                  <label class="col-form-label negrillas letraGlobal">Codigo<span class="obligatorio">*</span></label>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              <div class="form-group">
                  <input type="text" class="form-control letraGlobal" formControlName='codigoretencion' name="codigoretencion" maxlength="5" required="required" [ngClass]="{ 'is-invalid': submitted && f['codigoretencion'].errors }">
                  <div *ngIf="submitted && f['codigoretencion'].errors" class="invalid-feedback">
                      <div *ngIf="f['codigoretencion'].errors['required']">Codigo es requerido</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
              <div class="form-group ">
                  <label class="col-form-label negrillas letraGlobal">Descripcion<span class="obligatorio">*</span></label>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              <div class="form-group">
                  <input type="text" class="form-control letraGlobal" formControlName='descripcion' name="descripcion" maxlength="100" required="required" [ngClass]="{ 'is-invalid': submitted && f['descripcion'].errors }">
                  <div *ngIf="submitted && f['descripcion'].errors" class="invalid-feedback">
                      <div *ngIf="f['descripcion'].errors['required']">Descripcion es requerido</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
              <div class="form-group ">
                  <label class="col-form-label negrillas letraGlobal">Porcentaje<span class="obligatorio">*</span></label>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              <div class="form-group">
                  <input type="text" class="form-control letraGlobal" formControlName='porcentaje' name="porcentaje" maxlength="5" required="required" onkeypress="return isNumberKey(this,event,3);" [ngClass]="{ 'is-invalid': submitted && f['porcentaje'].errors }">
                  <div *ngIf="submitted && f['porcentaje'].errors" class="invalid-feedback">
                      <div *ngIf="f['porcentaje'].errors['required']">Porcentaje es requerido</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
              <div class="form-group ">
                  <label class="col-form-label negrillas letraGlobal">Estado</label>
              </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
              <div class="form-group">
                  <select formControlName='estado' name="estado" class="custom-select form-controlselect letraGlobal" panelClass="my-select-panel-class" id="inputGroupSelect01">
                      <option [value]="comp.valor" *ngFor="let comp of listEstado">{{comp.texto}}</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
</form>

<ng-template #modalbusquedaretencionfuente style="z-index:50000">
  <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
    <div class="modal-content ">
      <div class="modal-body">
        <app-modalbusquedaretencionfuente (confirmacionCierre)="cierreEstado($event)" (cierreModal)="cierreModalforma($event)" [listretencion]="listretencion"></app-modalbusquedaretencionfuente>
      </div>
    </div>
  </div>
</ng-template>  



