<div style="overflow-y: hidden!important;overflow-x:hidden!important">
  <!--INICIO SESSION BOTONES-->
  <div class="row barra-accion">
    <div class=" col-md-12">
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" mat-button (click)="procesar()"><mat-icon class="gren600 ">app_shortcut</mat-icon>Procesar</button>
      <mat-divider class="material-devider">|</mat-divider>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="limpiar()"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
      <mat-divider class="material-devider">|</mat-divider>
      <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
      <mat-divider class="material-devider">|</mat-divider>
      <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;SERVICIO DE RENTAS INTERNAS - Importar Información&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
    </div>
  </div>
  <!--FIN SESSION BOTONES-->
</div>
<div class="custom-panel">
  <div class="row ">
    <div class="col-md-2">
      <div class="row custom-panel2 b">
        <div class="col-md-12">
          <br />
          <div class="row">
            <div class="col-auto">
              <div class="form-group ">
                <label class="col-form-label negrillas letraGlobal">Año</label>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group ">
                <input type="number" class="form-control letraGlobal colornone" [(ngModel)]="ne_anio" maxlength="4" onkeypress="return numbersonly(event);" [ngModelOptions]="{standalone: true}" value="0">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <div class="form-group ">
                <label class="col-form-label negrillas letraGlobal">Mes</label>
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group ">
                <select [(ngModel)]="ddw_mes" class="custom-select form-controlselectbarra  letraGlobal" style="width: 100%!important" panelClass="my-select-panel-class" [ngModelOptions]="{standalone: true}" id="inputGroupSelect01">
                  <option [value]="comp.mes" *ngFor="let comp of listmes">{{comp.mesD}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row ">
    <div class="col-md-2">
      <div class="row custom-panel2 b">
        <div class="col-md-12">
          <div class="row">
            <div class="col-auto">
              <div class="form-group ">
                <label class="col-form-label negrillas letraGlobal">Módulo</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <div class="form-check-inline">
                <input type="checkbox" name="tiporeporte" id="tiporeporte" style="display: inherit !important" [(ngModel)]="cbx_compra">
                <label class="form-check-label" for="tiporeporte">
                  <span class="letraGlobal">&nbsp;Compras</span>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto">
              <div class="form-check-inline">
                <input type="checkbox" name="tiporeporte" id="tiporeporte" style="display: inherit !important" [(ngModel)]="cbx_venta">
                <label class="form-check-label" for="tiporeporte">
                  <span class="letraGlobal">&nbsp;Ventas</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-3">
      <div class="progress my-3">
        <div class="progress-bar progress-bar-info"
             role="progressbar"
             attr.aria-valuenow="{{ progress }}"
             aria-valuemin="0"
             aria-valuemax="100"
             [ngStyle]="{ width: progress + '%' }">
          {{ progress }}%
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group ">
        <label class="col-form-label negrillas letraGlobal">{{labelprogress}}</label>
      </div>
    </div>
    </div>
  </div>


<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)"></app-modales>
