<div style="overflow-y: hidden!important;overflow-x:hidden!important">
    <!--INICIO SESSION BOTONES-->
    <div class="row barra-accion">
        <div class=" col-md-12">
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" mat-button (click)="buscarpdf();"><mat-icon class="redf600 ">picture_as_pdf</mat-icon>Exporta PDF</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="buscarexcel()" mat-button><mat-icon class="red600 ">table_chart</mat-icon>Exportar Excel</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar();"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
            <mat-divider class="material-devider">|</mat-divider>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
            <mat-divider class="material-devider">|</mat-divider>
            <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Reporte de Decimos&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
        </div>
    </div>
    <!--FIN SESSION BOTONES-->
    <div class="custom-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="row custom-panel2 b">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Año</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="number" class="form-control letraGlobal" [(ngModel)]="iDocumento.naq_anio" [ngModelOptions]="{standalone: true}" maxlength="4" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Tipo</label>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="form-check-inline">
                                    <input type="radio" style="display: inherit !important" id="tipocomision" name="tipocomision" [(ngModel)]="iDocumento.naq_decimo" [value]="'2'">
                                    <label class="form-check-label" for="tipocomision">
                                        <span class="letraGlobal">Decimo 13</span>
                                    </label>
                                </div>
                                
                            </div>
                            <div class="col-auto">
                                <div class="form-check-inline">
                                    <input type="radio" style="display:inherit !important" id="tipocomision" name="tipocomision" [(ngModel)]="iDocumento.naq_decimo" [value]="'1'">
                                    <label class="form-check-label" for="tipocomision">
                                        <span class="letraGlobal">Decimo 14</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row custom-panel2 b">
                    <div id="no-more-tables" class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="global350" class="material-datatables table-responsive">
                                    <table responsive="true" class="letraGlobal table table-hover text-nowrap  table-bordered " cellspacing="0">
                                        <thead style="zoom:85%; border: solid 1px #ABBAD0!important">
                                            <tr class="cabeceragrid letraGlobal">
                                                <th rowspan="2" *ngFor="let head of ColumnaDetalle" scope="col">{{head}} </th>
                                            </tr>
                                        </thead>
                                        <tbody class="cuerpogrid">
                                            <tr *ngFor="let row of detallereporte " class="clsForeColor{{row.color}}">
                                                <td data-title="Identificacion" (click)="clickGrid(row);" style="text-align: center !important; width: 5%  ">{{row.nom_empcodigo}}</td>
                                                <td data-title="Nombre Empleado" (click)="clickGrid(row);" style="text-align: left !important; width: 20%  ">{{row.nom_empleado}}</td>
                                                <td data-title="Tipo Decimo" (click)="clickGrid(row);" style="text-align: left !important; width: 10% ">{{row.tipo}}</td>
                                                <td data-title="Año Proceso" (click)="clickGrid(row);" style="text-align: center !important; align-content: center !important; width: 10% ">{{row.anio}}</td>
                                                <td data-title="Periodo Decimo" (click)="clickGrid(row);" style="text-align: center !important; align-content: center !important; width: 10% ">{{row.periodo}}</td>
                                                <td data-title="Valor Decimo" (click)="clickGrid(row);" style="text-align: right !important; align-content: center !important; width: 10% ">{{row.valor| number : '1.2-2'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            </div>
        </div>
    </div>
</div>






<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)"></app-modales>

