<div style="overflow-y: hidden!important;overflow-x:hidden!important">
    <!--INICIO SESSION BOTONES-->
    <div class="row barra-accion">
        <div class=" col-md-12">
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" mat-button (click)="buscarpdf();"><mat-icon class="redf600 ">picture_as_pdf</mat-icon>Exporta PDF</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="buscarexcel()" mat-button><mat-icon class="red600 ">table_chart</mat-icon>Exportar Excel</button>
            <mat-divider class="material-devider">|</mat-divider>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
            <mat-divider class="material-devider">|</mat-divider>
            <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Reporte de Proveedor&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
        </div>
    </div>
    <!--FIN SESSION BOTONES-->
    <div class="custom-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="row custom-panel2 b">

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Fecha Pedido Desde</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control letraGlobal" [(ngModel)]="iDocumento.bc_fecha_inicio_viaje" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Fecha Pedido Hasta</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control letraGlobal" [(ngModel)]="iDocumento.bc_fecha_fin_viaje" maxlength="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row custom-panel2 b">
                    <div id="no-more-tables" class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="global350" class="material-datatables table-responsive">
                                    <table responsive="true" class="letraGlobal table table-hover text-nowrap  table-bordered " cellspacing="0">
                                        <thead style="zoom:85%; border: solid 1px #ABBAD0!important">
                                            <tr class="cabeceragrid letraGlobal">
                                                <th rowspan="2" *ngFor="let head of ColumnaDetalle" scope="col">{{head}} </th>
                                            </tr>
                                        </thead>
                                        <tbody class="cuerpogrid">
                                            <tr *ngFor="let row of detallereporte " class="clsForeColor{{row.color}}">
                                                <td data-title="TIPO IDENTIFICACIO" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_tipo_proveedor}}</td>
                                                <td data-title="IDENTIFICACION" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_identificacion}}</td>
                                                <td data-title="NOMBRE PROVEEDOR" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_nombre}}</td>
                                                <td data-title="TELEFONO" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_telefono}}</td>
                                                <td data-title="DIRECCION" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_direccion}}</td>
                                                <td data-title="CORREO" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_correo}}</td>
                                                <td data-title="FECHA CREACION" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_fecha_creacion}}</td>
                                                <td data-title="ESTADO" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.pr_estado}}</td>

                                            </tr>
                                        </tbody>
                                     </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            </div>
        </div>
    </div>
</div>

<ng-template #modalbusquedaentidad style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaentidad (confirmacionCierre)="cierreCliente($event)" (cierreModal)="cierreModalcliente($event)" [listadocliente]="listcliente"></app-busquedaentidad>
            </div>
        </div>
    </div>
</ng-template>




<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)"></app-modales>

