<div style="overflow-y: hidden!important;overflow-x:hidden!important">
    <!--INICIO SESSION BOTONES-->
    <div class="row barra-accion">
        <div class=" col-md-12">
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" mat-button (click)="buscarpdf();"><mat-icon class="redf600 ">picture_as_pdf</mat-icon>Exporta PDF</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="buscarexcel()" mat-button><mat-icon class="red600 ">table_chart</mat-icon>Exportar Excel</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar();"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
            <mat-divider class="material-devider">|</mat-divider>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
            <mat-divider class="material-devider">|</mat-divider>
            <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Reporte de Boletos General&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
        </div>
    </div>
    <!--FIN SESSION BOTONES-->
    <div class="custom-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="row custom-panel2 b">

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Entidad</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control letraGlobal" [(ngModel)]="iDocumento.cl_nombre" [disabled]="true" maxlength="80" [ngClass]="{ 'is-invalid': submitted && iDocumento.cl_nombre==='' }">
                                    <div *ngIf="submitted && iDocumento.cl_nombre===''" class="invalid-feedback">
                                        <div *ngIf="iDocumento.cl_nombre===''">Entidad es requerido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn botonpaso letraGlobal mdc-buttoncl" style="align-items:inherit!important; min-width: 0px !important; " mat-button (click)="cargaCliente()"> <span style="cursor:pointer"><mat-icon class="azul600 ">plagiarism</mat-icon></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Tipo Boleto</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <select [(ngModel)]="iDocumento.tipoboleto" class="custom-select form-controlselect letraGlobal" panelClass="my-select-panel-class" id="inputGroupSelect01">
                                        <option [value]="comp.valor" *ngFor="let comp of listTipoViaje">{{comp.texto}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Forma de Pago</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <input type="text" class="form-control letraGlobal" [(ngModel)]="iDocumento.fp_nombre" [disabled]="true" maxlength="80" [ngClass]="{ 'is-invalid': submitted && iDocumento.fp_nombre==='' }">
                                    <div *ngIf="submitted && iDocumento.fp_nombre===''" class="invalid-feedback">
                                        <div *ngIf="iDocumento.fp_nombre===''">Forma de Pago es requerido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn botonpaso letraGlobal mdc-buttoncl" style="align-items:inherit!important; min-width: 0px !important; " mat-button (click)="cargaForma()"> <span style="cursor:pointer"><mat-icon class="azul600 ">plagiarism</mat-icon></span></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Usuario</label>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <select [(ngModel)]="iDocumento.us_codigo" class="custom-select form-controlselect letraGlobal" panelClass="my-select-panel-class">
                                        <option [value]="comp.us_codigo" *ngFor="let comp of listusuario">{{comp.us_nombre}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Fecha Pedido Desde</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control letraGlobal" [(ngModel)]="iDocumento.bc_fecha_inicio_viaje" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Fecha Pedido Hasta</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control letraGlobal" [(ngModel)]="iDocumento.bc_fecha_fin_viaje" maxlength="10">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row custom-panel2 b ">
                    <div id="no-more-tables" class="col-md-12">
                        <div class="row ">
                            <div class="col-md-12">
                                <div id="globalAU" style="min-height:{{alto}}px!important" class="material-datatables table-responsive">
                                    <table responsive="true" class="letraGlobal table table-hover text-nowrap  table-bordered " cellspacing="0">
                                        <thead style="zoom:85%; border: solid 1px #ABBAD0!important">
                                            <tr class="cabeceragrid letraGlobal">
                                                <th rowspan="2" scope="col">#</th>
                                                <th rowspan="2" scope="col">EMISION</th>
                                                <th rowspan="2" scope="col">NOMBRE DEL PASAJERO</th>
                                                <th rowspan="2" scope="col">PASAPORTE</th>
                                                <th rowspan="2" scope="col">N° BOLETO</th>
                                                <th rowspan="2" scope="col">RUTA</th>
                                                <th rowspan="2" scope="col">AEROLINEA</th>
                                                <th rowspan="2" scope="col">TIPO BOLETO</th>
                                                <th rowspan="2" scope="col">SALIDA</th>
                                                <th rowspan="2" scope="col">RETORNO</th>
                                                <th rowspan="2" scope="col">COSTO</th>
                                                <th rowspan="2" scope="col">FEE</th>
                                                <th rowspan="2" scope="col">IVA FEE</th>
                                                <th rowspan="2" scope="col">TOTAL</th>
                                                <th rowspan="2" scope="col">ESTADO</th>
                                            </tr>
                                        </thead>
                                        <tbody class="cuerpogrid">
                                            <tr *ngFor="let row of detallereporte " class="clsForeColor{{row.color}}">
                                                <td data-title="#" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bc_codigo}}</td>
                                                <td data-title="EMISION" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bc_fecha_pedido}}</td>
                                                <td data-title="NOMBRE DEL PASAJERO"  (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bc_nombre_pasajero}}</td>
                                                <td data-title="PASAPORTE" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bc_identificacion_pasajero}}</td>
                                                <td data-title="N° BOLETO"  (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bd_ticket}}</td>
                                                <td data-title="RUTA" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.rut_ruta}}</td>
                                                <td data-title="AEROLINEA" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.aereolinea}}</td>
                                                <td data-title="TIPO BOLETO"  (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.boc_nacional_internacional}}</td>
                                                <td data-title="SALIDA" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bc_fecha_inicio_viaje}}</td>
                                                <td data-title="RETORNO" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.bc_fecha_fin_viaje}}</td>
                                                <td data-title="COSTO" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.bd_total_boleto | number : '1.2-2'}}</td>
                                                <td data-title="FEE" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.bd_valor_servicio | number : '1.2-2'}}</td>
                                                <td data-title="IVA FEE" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.bd_iva_servicio | number : '1.2-2'}}</td>
                                                <td data-title="TOTAL" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.bd_total_general | number : '1.2-2'}}</td>
                                                <td data-title="ESTADO" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.es_nombre}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot *ngIf="detallereporte.length>0">
                                            <tr>
                                                <th colspan="10" style="text-align: center !important; width: 250px ">TOTALES</th>
                                                <th style="text-align: right !important; width: 250px ">{{totalColumna(1)}}</th>
                                                <th style="text-align: right !important; width: 250px ">{{totalColumna(2)}}</th>
                                                <th style="text-align: right !important; width: 250px ">{{totalColumna(3)}}</th>
                                                <th style="text-align: right !important; width: 250px ">{{totalColumna(4)}}</th>
                                                <th ></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            </div>
        </div>
    </div>
</div>

<ng-template #modalbusquedaentidad style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaentidad (confirmacionCierre)="cierreCliente($event)" (cierreModal)="cierreModalcliente($event)" [listadocliente]="listcliente"></app-busquedaentidad>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #modalbusquedaforma style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaforma (confirmacionCierre)="cierreForma($event)" (cierreModal)="cierreModalforma($event)" [listadoforma]="listforma"></app-busquedaforma>
            </div>
        </div>
    </div>
</ng-template>

<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)"></app-modales>

