<div style="overflow-y: hidden!important;overflow-x:hidden!important">
    <!--INICIO SESSION BOTONES-->
    <div class="row barra-accion">
        <div class=" col-md-12">
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="buscarexcel()" mat-button><mat-icon class="red600 ">table_chart</mat-icon>Exportar Excel</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar();"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
            <mat-divider class="material-devider">|</mat-divider>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
            <mat-divider class="material-devider">|</mat-divider>
            <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Reporte de Ganancia&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
        </div>
    </div>
    <!--FIN SESSION BOTONES-->
    <div class="custom-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="row custom-panel2 b">

                    <div class="col-md-5">
                        <!--<div class="row">
        <div class="col-md-4">
            <div class="form-group ">
                <label class="col-form-label negrillas letraGlobal">Empleado</label>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group ">
                <input type="text" class="form-control letraGlobal" [(ngModel)]="iDocumento.empnombres" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="100" required="required">
            </div>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn botonpaso letraGlobal mdc-buttoncl" style="align-items:inherit!important; min-width: 0px !important; " mat-button (click)="cargaCliente()"> <span style="cursor:pointer"><mat-icon class="azul600 ">plagiarism</mat-icon></span></button>
        </div>
    </div>-->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Entidad</label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <mat-select class="custom-select2nw letraGlobal" [(ngModel)]="codentidad" multiple>
                                        <mat-option class="custom-select letraGlobal" *ngFor="let item of listcliente" [value]="item.cl_codigo">{{item.cl_nombre}}</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Fecha Factura Desde</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control letraGlobal" [(ngModel)]="iDocumento.bc_fecha_inicio_viaje" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="col-form-label negrillas letraGlobal">Fecha Factura Hasta</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="date" class="form-control letraGlobal" [(ngModel)]="iDocumento.bc_fecha_fin_viaje" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check-inline">
                                    <input type="checkbox" name="selretpersonal" id="selretpersonal" style="display: inherit !important"  [(ngModel)]="iDocumento.bc_evalua" [ngModelOptions]="{standalone: true}" [value]="false">
                                    <label class="form-check-label" for="selretpersonal">
                                        <span class="letraGlobal">&nbsp;Utilizando Facturacion(Seleccione esta opcion)</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />


                <div class="row custom-panel2 b">
                    <div id="no-more-tables" class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="global350" class="material-datatables table-responsive">
                                    <table responsive="true" class="letraGlobal table table-hover text-nowrap  table-bordered " cellspacing="0">
                                        <thead style="zoom:85%; border: solid 1px #ABBAD0!important">
                                            <tr class="cabeceragrid letraGlobal">
                                                <th rowspan="2" *ngFor="let head of ColumnaDetalle" scope="col">{{head}} </th>
                                            </tr>
                                        </thead>
                                        <tbody class="cuerpogrid">
                                            <tr *ngFor="let row of detallereporte " class="clsForeColor{{row.color}}">
                                                <td data-title="CLIENTE" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.cl_nombre}}</td>
                                                <td data-title="FACTURA" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.factura| number : '1.2-2'}}</td>
                                                <td data-title="COSTO" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{(row.costo==='U.NETA')?row.costo:row.costo| number : '1.2-2'}}</td>
                                                <td data-title="UTILIDAD" (click)="clickGrid(row);" style="text-align: center !important; width: 250px ">{{row.utilidad| number : '1.2-2'}}</td>
                                                <td data-title="%" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.porcentaje}}%</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
            </div>
        </div>
    </div>
</div>


<ng-template #modalbusquedaempleado style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaempleado [listadoempleado]="listadoempleado" (confirmacionCierre)="cierreEmpleado($event)" (cierreModal)="cierreModalcliente($event)"></app-busquedaempleado>
            </div>
        </div>
    </div>
</ng-template>



<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)"></app-modales>


