.divgridh {
    position: absolute !important;
    color: #FFF !important;
    border-radius: 5px !important;
    list-style-type: none !important;
    margin: auto auto !important;
    width: 100% !important;
}
