<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-12">
        <label class="input-group-text">Ayuda de Boleto</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn botonpaso letraGlobal " mat-button (click)="aceptar()"><mat-icon class="red600 ">check_small</mat-icon>Aceptar</button>
        <button type="button" class="btn botonpaso letraGlobal " mat-button (click)="cancelar()"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input id="busqueda" type="text" class="busqueda" style="width: 100%; padding: 0.3rem !important " [(ngModel)]="txtbusca" placeholder="Busqueda..."  autocomplete="off" />
      </div>
    </div>
    <div class="row">
      <div id="global" class="col-12">
        <div id="no-more-tables" class="material-datatables table-responsive letraGlobal">
          <pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="paginacion = $event"></pagination-controls>
          <table responsive="true" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0">
            <thead>
                <tr class="cabeceragrid">
                    <th style="width: 35px; padding: 10px">
                        <input type="checkbox" name="exampleRadios" id="exampleRadios1" [(ngModel)]="cambiogeneral" (change)="cambio()">

                    </th>
                    <th rowspan="2" scope="col">N&#176; Boleto</th>
                    <th rowspan="2" scope="col">Entidad</th>
                    <th rowspan="2" scope="col">Nombre Pasajero</th>
                    <th rowspan="2" scope="col">Ruta</th>
                    <th rowspan="2" scope="col">Fecha inicio Viaje</th>
                    <th rowspan="2" scope="col">Fecha Fin Viaje</th>
                    <th rowspan="2" scope="col">Persona Solicita</th>
                    <th rowspan="2" scope="col">N&#176;Ticket</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of boletos | grdFilter:{bc_codigo:txtbusca,cl_nombre:txtbusca,bc_nombre_pasajero:txtbusca,rut_descripcion:txtbusca,bc_persona_solicita:txtbusca,bd_ticket:txtbusca}| paginate: { itemsPerPage: 50, currentPage: paginacion }" class="clsForeColor{{row.color}}">
                    <td data-title="Sel." (click)="clickGrid(row);" style="width: 35px; padding: 10px">
                        <input type="checkbox" name="exampleRadios" id="exampleRadios1" [(ngModel)]="row.bd_select" [value]="row.bd_select">
                    </td>
                    <td data-title="N° Boleto" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.bc_codigo}}</td>
                    <td data-title="Entidad" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.cl_nombre}}</td>
                    <td data-title="Nombre Pasajero" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.bc_nombre_pasajero}}</td>
                    <td data-title="Ruta" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.rut_descripcion}}</td>
                    <td data-title="Fecha inicio Viaje" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.bc_fecha_inicio_viaje | date: 'yyyy-MM-dd'}}</td>
                    <td data-title="Fecha Fin Viaje" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.bc_fecha_fin_viaje | date: 'yyyy-MM-dd'}}</td>
                    <td data-title="Persona Solicita" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.pa_descripcion}}</td>
                    <td data-title="N° Ticket" (click)="clickGrid(row);" (dblclick)="dblclickGrid(row);">{{row.bd_ticket}}</td>
                </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>
  </div>
</div>
