<ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
  <ng-wizard-step [title]="model.wz1titulo" [description]="model.wz1descripcion" [state]="model.wz1state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz2titulo" [description]="model.wz2descripcion" [state]="model.wz2state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz3titulo" [description]="model.wz3descripcion" [state]="model.wz3state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz4titulo" [description]="model.wz4descripcion" [state]="model.wz4state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz5titulo" [description]="model.wz5descripcion" [state]="model.wz5state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz6titulo" [description]="model.wz6descripcion" [state]="model.wz6state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz7titulo" [description]="model.wz7descripcion" [state]="model.wz7state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz8titulo" [description]="model.wz8descripcion" [state]="model.wz8state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz9titulo" [description]="model.wz9descripcion" [state]="model.wz9state">
  </ng-wizard-step>
  <ng-wizard-step [title]="model.wz10titulo" [description]="model.wz10descripcion" [state]="model.wz10state">
  </ng-wizard-step>
</ng-wizard>

