  <!--INICIO SESSION BOTONES-->
<div class="row barra-accion">
    <div class=" col-md-12">
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" (click)="confirmarguardar()" mat-button><mat-icon class="gren600 ">sync</mat-icon>Reversar Orden</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar()"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
        <mat-divider class="material-devider">|</mat-divider>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
        <mat-divider class="material-devider">|</mat-divider>
        <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Reverso Orden Pago&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
    </div>
</div>
<!--FIN SESSION BOTONES-->
<div class="custom-panel">
    <div class="row custom-panel2 b">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Orden Pago</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iDocumento.bop_codigo" [disabled]="true" maxlength="80" [ngClass]="{ 'is-invalid': submitted && iDocumento.pr_nombre==='' }">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Banco</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <select [(ngModel)]="iDocumento.ban_codigo" class="custom-select form-control letraGlobal" (change)="cargaNumeroCuenta()" panelClass="my-select-panel-class" [disabled]="habilitaobjetofrom2" id="inputGroupSelect01">
                            <option [value]="comp.ban_codigo" *ngFor="let comp of listbancos">{{comp.ban_descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Tipo Cuenta</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <select [(ngModel)]="iDocumento.bcb_codigo" class="custom-select form-control letraGlobal" (change)="cargaNumeroCuenta()" panelClass="my-select-panel-class" [disabled]="habilitaobjetofrom2" id="inputGroupSelect01">
                            <option [value]="comp.bcb_codigo" *ngFor="let comp of listcuentabancaria">{{comp.bcb_descripcion}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Numero Cuenta</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <select [(ngModel)]="iDocumento.bnc_codigo" class="custom-select form-control letraGlobal" panelClass="my-select-panel-class" (change)="agregalinea()" [disabled]="habilitaobjetofrom2" id="inputGroupSelect01">
                            <option [value]="comp.bnc_codigo" *ngFor="let comp of listnumerocuenta">{{comp.bnc_numero}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Proveedor</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iDocumento.pr_nombre" [disabled]="true" maxlength="80" [ngClass]="{ 'is-invalid': submitted && iDocumento.pr_nombre==='' }">
                        <div *ngIf="submitted && iDocumento.pr_nombre===''" class="invalid-feedback">
                            <div *ngIf="iDocumento.pr_nombre===''">Proveedor es requerido</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha Aprobacion</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="date" class="form-control letraGlobal" [disabled]="true" [(ngModel)]="iDocumento.bop_fecha_aprobacion" maxlength="10">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Usuario Aprobacion</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control letraGlobal" [disabled]="true" [(ngModel)]="iDocumento.bop_usuariocierre" maxlength="10">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Estado Aprobacion</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="text" class="form-control letraGlobal" [disabled]="true" [(ngModel)]="iDocumento.bop_estadocierre" maxlength="10">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">N. Asiento</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iDocumento.cob_codigo" [disabled]="true" maxlength="80" [ngClass]="{ 'is-invalid': submitted && iDocumento.pr_nombre==='' }">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <br />
            <div class="row ">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group ">
                                <label class="col-form-label negrillas letraGlobal">Fecha Ingreso</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="date" class="form-control letraGlobal" [disabled]="habilitaobjetofrom2" [(ngModel)]="iDocumento.bop_fecha_ingreso" maxlength="10">
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="form-group ">
                                <label class="col-form-label negrillas letraGlobal">Tipo Documento<span class="obligatorio">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select [(ngModel)]="iDocumento.btd_codigo" class="custom-select form-control letraGlobal" panelClass="my-select-panel-class" [disabled]="habilitaobjetofrom2" id="inputGroupSelect01">
                                    <option [value]="comp.btd_codigo" *ngFor="let comp of listtipodocumento">{{comp.btd_descripcion}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <label class="col-form-label negrillas letraGlobal">Observaci&oacute;n</label>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-group">
                                <textarea type="text" rows="30" class="textinput letraGlobal col-md-12 col-sm-12" [(ngModel)]="iDocumento.bop_observacion" maxlength="300" [disabled]="habilitaobjetofrom" value=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 ">
                            <div class="form-group ">
                                <label class="col-form-label negrillas letraGlobal">Total Orden Pago</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control letraGlobal" [disabled]="true" [(ngModel)]="iDocumento.bop_total" style="text-align:right!important" maxlength="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <br />
    </div>
    <br />
</div>
<br />

<div class="row custom-panel2 b">
    <div id="no-more-tables" class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div id="globalAU" style="min-height:{{alto}}px!important;" class="material-datatables table-responsive">
                    <table responsive="true" class="letraGlobal table table-hover text-nowrap  table-bordered " cellspacing="0" style="width: 1900px !important">
                        <thead style=" border: solid 1px #ABBAD0!important">
                            <tr class="cabeceragrid letraGlobalgrid">
                                <th rowspan="2">Linea</th>
                                <th colspan="3">Cuenta Contable</th>
                                <th rowspan="2">Movimiento</th>
                                <th rowspan="2">Valor</th>
                                <th rowspan="2">Glosa</th>
                                <th rowspan="2">#</th>
                            </tr>
                            <tr class="cabeceragrid letraGlobalgrid">
                                <th>Codigo</th>
                                <th>Descripcion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="cuerpogrid">
                            <tr *ngFor="let row of detalleregistro" class="clsForeColor{{row.color}}">
                                <td data-title="Linea" (click)="clickGrid(row);" style="text-align: center !important; width: 20px; vertical-align: middle !important ">{{row.bdd_linea}}</td>
                                <td data-title="Codigo" (click)="clickGrid(row);" style="text-align: center !important; width: 35px; vertical-align: middle !important">{{row.cpc_codigo_co}}</td>
                                <td data-title="Descripcion" (click)="clickGrid(row);" style="text-align: center !important; width: 120px; vertical-align: middle !important">{{row.cpc_descripcion}}</td>
                                <td data-title="" (click)="cargaPlanCuenta(row);clickGrid(row);" style="width: 1%; cursor: pointer !important; vertical-align: middle !important "><mat-icon class="azul600 ">search</mat-icon></td>
                                <td data-title="Movimiento" (click)="clickGrid(row);" style="text-align: right !important; width: 100px; vertical-align: middle !important">
                                    <select [(ngModel)]="row.cpc_naturaleza" class="custom-select form-control letraGlobal" panelClass="my-select-panel-class" [disabled]="true" id="inputGroupSelect01">
                                        <option [value]="comp.valor" *ngFor="let comp of listnaturaleza">{{comp.texto}}</option>
                                    </select>
                                </td>
                                <td data-title="Valor" (click)="clickGrid(row);" style="text-align: right !important; width: 80px; vertical-align: middle !important">
                                    <input type="text" class="form-control letraGlobal  " maxlength="8" style="text-align: right !important; " (input)="calculo(row.cpc_naturaleza)" [disabled]="habilitaobjetofrom" onkeypress="return isNumberKey(this,event,3);" [(ngModel)]="row.bdd_valor">
                                </td>
                                <td data-title="Concepto" (click)="clickGrid(row);" style="text-align: left !important; width: 200px; vertical-align: middle !important">
                                    <input type="text" class="form-control letraGlobal  " maxlength="100" style="text-align: left !important; " [disabled]="habilitaobjetofrom" [(ngModel)]="row.bdd_glosa">
                                </td>
                                <td data-title="" style="width: 1%; cursor: pointer !important; vertical-align: middle !important">
                                    <button type="button" *ngIf="row.bdd_linea==2" class="btn botonpaso letraGlobal" [disabled]="false" mat-button (click)="buscardatos()"><mat-icon class="azulbu600 ">menu</mat-icon></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>



<ng-template #modalbusquedadofactura style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label class="input-group-text">Factura Proveedor</label>
                    </div>
                </div>

                <div class="row custom-panel2 b">
                    <div id="no-more-tables" class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="global350" class="material-datatables table-responsive">
                                    <table responsive="true" class="letraGlobal table table-hover text-nowrap  table-bordered " cellspacing="0">
                                        <thead style="zoom:85%; border: solid 1px #ABBAD0!important">
                                            <tr class="cabeceragrid letraGlobal">
                                                <th rowspan="2" *ngFor="let head of ColumnaDetalle" scope="col">{{head}} </th>
                                            </tr>
                                        </thead>
                                        <tbody class="cuerpogrid">
                                            <tr *ngFor="let row of detalleregistrofact " class="clsForeColor{{row.color}}">
                                                <th style="width: 35px; padding: 10px">
                                                    <input type="checkbox" name="exampleRadios" id="exampleRadios1" [(ngModel)]="row.sele" [disabled]="habilitaobjetofrom">
                                                </th>
                                                <td data-title="#" (click)="clickGrid(row);" style="text-align: center !important;  ">{{row.cxp_codigo}}</td>
                                                <td data-title="F. Emisión" (click)="clickGrid(row);" style="text-align: center !important;  ">{{row.fechaemision}}</td>
                                                <td data-title="RUC" (click)="clickGrid(row);" style="text-align: center !important; ">{{row.ruc}}</td>
                                                <td data-title="Razón Social" (click)="clickGrid(row);" style="text-align: center !important; ">{{row.pr_nombre}}</td>
                                                <td data-title="No. De factura" (click)="clickGrid(row);" style="text-align: left !important; ">{{row.factura}}</td>
                                                <td data-title="Sub. 12%" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.baseiva| number : '1.2-2'}}</td>
                                                <td data-title="Sub. 0%" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.base0| number : '1.2-2'}}</td>
                                                <td data-title="No objeto" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.cxp_subtotal| number : '1.2-2'}}</td>
                                                <td data-title="IVA" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.cxp_iva| number : '1.2-2'}}</td>
                                                <td data-title="Total" (click)="clickGrid(row);" style="text-align: right !important; width: 250px ">{{row.cxp_total | number : '1.2-2'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalbusquedadoconciliacion style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedadoordenpago (confirmacionCierre)="cierreConciliacionBancario($event)" (cierreModal)="cierreModalforma($event)" [listconciliacion]="listconciliacionbusquedad"></app-busquedadoordenpago>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalbusquedaproveedor style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaproveedor (confirmacionCierre)="cierreProveedor($event)" (cierreModal)="cierreModalproveedor($event)" [listadoproveedor]="listproveedor"></app-busquedaproveedor>
            </div>
        </div>
    </div>
</ng-template>

<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)" (aceptarConfi)="aceptarConfi($event)" (aceptarConfieli)="aceptarConfiEli($event)"></app-modales>


