<form [formGroup]="paisfrom" (ngSubmit)="guardarpais()">
    <!--INICIO SESSION BOTONES-->
    <div class="row barra-accion">
        <div class=" col-md-12">
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnnuevo" mat-button (click)="limpiabotones(2);habilitarfrom(2);"><mat-icon class="orange600">search</mat-icon>Nuevo</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnmodificar" (click)="habilitarfrom(3);limpiabotones(2);" mat-button><mat-icon class="azul600 ">edit</mat-icon>Modificar</button>
            <button type="submit" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" mat-button><mat-icon class="gren600 ">save</mat-icon>Guardar</button>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="limpiabotones(1);limpiarpais();habilitarfrom(1);"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
            <mat-divider class="material-devider">|</mat-divider>
            <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
            <mat-divider class="material-devider">|</mat-divider>
            <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;Mantenimiento de Curso/Materia&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
        </div>
    </div>
    <!--FIN SESSION BOTONES-->
    <div class="custom-panel">
        <div class="row">
            <div class="col-md-1">
                <div class="form-group ">
                    <label class="col-form-label negrillas letraGlobal">Curso</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <select formControlName='codigocurso' name="codigocurso" class="custom-select form-controlselect letraGlobal" panelClass="my-select-panel-class" (change)="seleciona()" id="inputGroupSelect01">
                        <option [value]="comp.cu_codigo" *ngFor="let comp of listcurso">{{comp.cu_nombre}}</option>
                    </select>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <div class="row custom-panel2 b">
                    <div id="no-more-tables" class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-form-label negrillas letraGlobal" style="font-size:large!important">Listado de Materia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <select size="10" [(ngModel)]="select_desde" class="col-md-12" [disabled]="habilitaobjetofrom2" [ngModelOptions]="{standalone: true}">
                                    <option [value]="item.codigo" *ngFor="let item of listaDesde">{{item.descripcion}}</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-center" style="text-align:center!important;align-content:center!important">
                                <button type="button" class="btn botonpaso letraGlobal" mat-button (click)="devolver()"><mat-icon class="azulbu600 ">keyboard_double_arrow_left</mat-icon></button>
                                <button type="button" class="btn botonpaso letraGlobal" mat-button (click)="pasar()"><mat-icon class="azulbu600 ">keyboard_double_arrow_right</mat-icon></button>
                            </div>
                            <div class="col-md-5">
                                <select size="10" [(ngModel)]="select_hasta" class="col-md-12" [disabled]="habilitaobjetofrom2" [ngModelOptions]="{standalone: true}">
                                    <option [value]="item.codigo" *ngFor="let item of listaHasta">{{item.descripcion}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       


    </div>
</form>

<ng-template #modalbusquedacurso style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedacurso (confirmacionCierre)="cierreParalelo($event)" (cierreModal)="cierreModalforma($event)" [listadocurso]="listcurso"></app-busquedacurso>
            </div>
        </div>
    </div>
</ng-template>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>


