  <!--INICIO SESSION BOTONES-->
<div class="row barra-accion">
    <div class=" col-md-12">
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnnuevo" mat-button (click)="limpiabotones(2);habilitarfrom(2);"><mat-icon class="orange600">search</mat-icon>Nuevo</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnmodificar" (click)="habilitarfrom(3);limpiabotones(2);" mat-button><mat-icon class="azul600 ">edit</mat-icon>Modificar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" (click)="guardaranticipo();" mat-button><mat-icon class="gren600 ">save</mat-icon>Guardar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="delete()" mat-button><mat-icon class="red600 ">close</mat-icon>Eliminar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar();"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
        <mat-divider class="material-devider">|</mat-divider>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
        <mat-divider class="material-devider">|</mat-divider>
        <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;NOMINA - Anticipo&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
    </div>
</div>
<!--FIN SESSION BOTONES-->
<div class="custom-panel">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Empleado</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.empcodigo" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.empnombres" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="100" required="required">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn botonpaso letraGlobal mdc-buttoncl" [disabled]="habilitaobjetofrom" style="align-items:inherit!important; min-width: 0px !important; " mat-button (click)="buscaremp(2)"> <span style="cursor:pointer"><mat-icon class="azul600 ">plagiarism</mat-icon></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha Anticipo</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="date" class="form-control letraGlobal" [(ngModel)]="iFalta.nat_fechaanticipo" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Valor Anticipo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.nat_valoranticipo" [disabled]="habilitaobjetofrom" style="text-align:right!important" [ngModelOptions]="{standalone: true}" onkeypress="return isNumberKey(this,event,3);" maxlength="7">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Observacion</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea type="text" rows="30" class="textinput letraGlobal bordeno " [(ngModel)]="iFalta.nat_observacion" maxlength="300" [disabled]="habilitaobjetofrom" value=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalbusquedaempleado style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaempleado [listadoempleado]="listadoempleado" (confirmacionCierre)="cierreEmpleado($event)" (cierreModal)="cierreModal($event)"></app-busquedaempleado>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalbusquedafaltas style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaanticipo (confirmacionCierre)="cierreFaltas($event)" (cierreModal)="cierreModalforma($event)" [listfaltas]="listfaltas"></app-busquedaanticipo>
            </div>
        </div>
    </div>
</ng-template>



<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)" (aceptarConfi)="aceptarConfi($event)" (aceptarConfieli)="aceptarConfiEli($event)"></app-modales>




