  <!--INICIO SESSION BOTONES-->
<div class="row barra-accion">
    <div class=" col-md-12">
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnnuevo" mat-button (click)="limpiabotones(2);habilitarfrom(2);"><mat-icon class="orange600">search</mat-icon>Nuevo</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnmodificar" (click)="habilitarfrom(3);limpiabotones(2);" mat-button><mat-icon class="azul600 ">edit</mat-icon>Modificar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" (click)="guardarfalta();" mat-button><mat-icon class="gren600 ">save</mat-icon>Guardar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="delete()" mat-button><mat-icon class="red600 ">close</mat-icon>Eliminar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar();"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
        <mat-divider class="material-devider">|</mat-divider>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
        <mat-divider class="material-devider">|</mat-divider>
        <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;NOMINA - Permiso IESS&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
    </div>
</div>
<!--FIN SESSION BOTONES-->
<div class="custom-panel">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Empleado</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.empcodigo" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.empnombres" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="100" required="required">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn botonpaso letraGlobal mdc-buttoncl" [disabled]="habilitaobjetofrom" style="align-items:inherit!important; min-width: 0px !important; " mat-button (click)="buscaremp(2)"> <span style="cursor:pointer"><mat-icon class="azul600 ">plagiarism</mat-icon></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Tipo Rol</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <select [(ngModel)]="iFalta.faitipo" class="custom-select form-controlselectbarra  letraGlobal" style="width: 100%!important" [disabled]="habilitaobjetofrom" panelClass="my-select-panel-class" [ngModelOptions]="{standalone: true}" id="inputGroupSelect01">
                            <option [value]="comp.valor" *ngFor="let comp of listiporol">{{comp.texto}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="date" class="form-control letraGlobal" [(ngModel)]="iFalta.faifecha" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Rubro</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group ">
                        <select [(ngModel)]="iFalta.nrcodigo" class="custom-select form-controlselectbarra  letraGlobal" style="width: 100%!important" [disabled]="habilitaobjetofrom" panelClass="my-select-panel-class" [ngModelOptions]="{standalone: true}" id="inputGroupSelect01">
                            <option [value]="comp.nr_codigo" *ngFor="let comp of listrubro">{{comp.nr_nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha Inicio Permiso</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="date" class="form-control letraGlobal" [(ngModel)]="iFalta.faifechainicio" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha Fin Permiso</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="date" class="form-control letraGlobal" [(ngModel)]="iFalta.faifechafin" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Observacion</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea type="text" rows="30" class="textinput letraGlobal bordeno " [(ngModel)]="iFalta.faiobservacion" maxlength="300" [disabled]="habilitaobjetofrom" value=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalbusquedaempleado style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaempleado [listadoempleado]="listadoempleado" (confirmacionCierre)="cierreEmpleado($event)" (cierreModal)="cierreModal($event)"></app-busquedaempleado>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalbusquedapermisoiess style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedapermisoiess (confirmacionCierre)="cierreFaltas($event)" (cierreModal)="cierreModalforma($event)" [listpermisoiess]="listpermisoiess"></app-busquedapermisoiess>
            </div>
        </div>
    </div>
</ng-template>



<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)" (aceptarConfi)="aceptarConfi($event)" (aceptarConfieli)="aceptarConfiEli($event)"></app-modales>




