  <!--INICIO SESSION BOTONES-->
<div class="row barra-accion">
    <div class=" col-md-12">
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnnuevo" mat-button (click)="limpiabotones(2);habilitarfrom(2);"><mat-icon class="orange600">search</mat-icon>Nuevo</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnmodificar" (click)="habilitarfrom(3);limpiabotones(2);" mat-button><mat-icon class="azul600 ">edit</mat-icon>Modificar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btngrabar" (click)="guardarprestamo();" mat-button><mat-icon class="gren600 ">save</mat-icon>Guardar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btneliminar" (click)="delete()" mat-button><mat-icon class="red600 ">close</mat-icon>Eliminar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btncancelar" mat-button (click)="cancelar();"><mat-icon class="redf600 ">redo</mat-icon>Cancelar</button>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnbuscar" mat-button (click)="buscar()"><mat-icon class="azulbu600 ">plagiarism</mat-icon>buscar</button>
        <mat-divider class="material-devider">|</mat-divider>
        <button type="button" class="btn botonpaso letraGlobal" [disabled]="botones.btnsalir" mat-button (click)="salir()"><mat-icon class="redoff600 ">power_settings_new</mat-icon>Salir</button>
        <mat-divider class="material-devider">|</mat-divider>
        <label class="bordetitulopagina letraGlobalTitulo2 "><span class="d-none d-xl-block">&nbsp;&nbsp;&nbsp;&nbsp;NOMINA - Prestamo&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
    </div>
</div>
<!--FIN SESSION BOTONES-->
<div class="custom-panel">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Empleado</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.empcodigo" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.empnombres" [disabled]="true" [ngModelOptions]="{standalone: true}" maxlength="100" required="required">
                    </div>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn botonpaso letraGlobal mdc-buttoncl" [disabled]="habilitaobjetofrom" style="align-items:inherit!important; min-width: 0px !important; " mat-button (click)="buscaremp(2)"> <span style="cursor:pointer"><mat-icon class="azul600 ">plagiarism</mat-icon></span></button>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha Prestamo</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="date" class="form-control letraGlobal" [(ngModel)]="iFalta.nop_fechaprestamo" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Valor Prestamo</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.nop_valorprestamo" [disabled]="habilitaobjetofrom" style="text-align:right!important" [ngModelOptions]="{standalone: true}" onkeypress="return isNumberKey(this,event,3);" maxlength="7">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Fecha Inicio Prestamo</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="date" class="form-control letraGlobal" [(ngModel)]="iFalta.nop_iniciofechaprestamo" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Numero de Cuotas</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-group ">
                        <input type="text" class="form-control letraGlobal" [(ngModel)]="iFalta.nop_numerocuota" [disabled]="habilitaobjetofrom" onkeypress="return isNumberKey(this,event,0);" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group ">
                        <button type="button" class="btn  letraGlobal " [disabled]="habilitaobjetofrom" (click)="calcularcuota()" mat-button><mat-icon class="red600 ">sync</mat-icon>Calcular Cuota</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Tipo Prestamo</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <select [(ngModel)]="iFalta.tp_codigo" class="custom-select form-controlselect letraGlobal" [disabled]="habilitaobjetofrom" panelClass="my-select-panel-class">
                            <option [value]="comp.tp_codigo" *ngFor="let comp of listTipoprestamo">{{comp.tp_nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <div class="form-group ">
                        <label class="col-form-label negrillas letraGlobal">Observacion</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea type="text" rows="30" class="textinput letraGlobal bordeno " [(ngModel)]="iFalta.nop_observacion" maxlength="300" [disabled]="habilitaobjetofrom" value=""></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="overflow-y: hidden!important;overflow-x:hidden!important">
        <div id="no-more-tables" class="col-md-6">
            <div id="global" class="material-datatables table-responsive">
                <table responsive="true" class="letraGlobal table table-striped table-bordered table-sm row-border hover" cellspacing="0">
                    <thead style="border: solid 1px #ABBAD0!important">
                        <tr class="cabeceragrid letraGlobal">
                            <th *ngFor="let head of ColumnaDetalle" scope="col">{{head}} </th>
                        </tr>
                    </thead>
                    <tbody class="cuerpogrid">
                        <tr *ngFor="let row of detalleprestamo" class="clsForeColor{{row.color}}">
                            <td data-title="Nombre Archivo" (click)="clickGrid(row);" style="text-align: center !important; width: 5%  ">
                                {{row.npd_linea}}
                            </td>
                            <td data-title="" (click)="clickGrid(row);" style="text-align: center !important; align-content: center !important; width: 3%  ">
                                <input type="text" class="form-control letraGlobal  " maxlength="8" style="text-align: right !important; " [disabled]="habilitaobjetofrom" onkeypress="return isNumberKey(this,event,3);" [(ngModel)]="row.npd_valorcuota">
                            </td>
                            <td data-title="" (click)="clickGrid(row);" style="text-align: center !important; align-content: center !important; width: 2%  ">
                                
                                <input type="date" class="form-control letraGlobal" style="text-align:right!important" [(ngModel)]="row.npd_fechacuota" [disabled]="habilitaobjetofrom" [ngModelOptions]="{standalone: true}" maxlength="10" required="required">
                                <!--{{row.npd_fechacuota}}-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<ng-template #modalbusquedaempleado style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaempleado [listadoempleado]="listadoempleado" (confirmacionCierre)="cierreEmpleado($event)" (cierreModal)="cierreModal($event)"></app-busquedaempleado>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalbusquedafaltas style="z-index:50000">
    <div class=" modal-primary modal-lg" role="document" dynamicHeight dynamicweiht>
        <div class="modal-content ">
            <div class="modal-body">
                <app-busquedaprestamo (confirmacionCierre)="cierreFaltas($event)" (cierreModal)="cierreModalforma($event)" [listfaltas]="listprestamo"></app-busquedaprestamo>
            </div>
        </div>
    </div>
</ng-template>



<app-modales [llamarModal]="llamarmodal" (aceptarOk)="aceptarOk($event)" (aceptarConfi)="aceptarConfi($event)" (aceptarConfieli)="aceptarConfiEli($event)"></app-modales>




